.random-card {
    border: 2px solid black;
    width: 50%;
    display: flex;
    flex-direction: row;
    text-align: left;
    line-height: 0em;
    padding: 0.5em;
    margin: 1em;
    font-weight: bold;
    font-size: large;
  }